@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --bg-color: #e2f5f7;
  --text-color: #2b2b2b;
  --text-color-hover: #535353;
  --accent-color: #3874b1;
  --accent-color-hover: #104171;
  --menu-color: #c5e1e3;
  --menu-hover: #b3d3d5;
}

[data-theme=dark] {
  --bg-color: #282838;
  --text-color: #e2f5f7;
  --text-color-hover: #b3cfd1;
  --accent-color: #80cedb;
  --accent-color-hover: #2293a7;
  --menu-color: #2f2f43;
  --menu-hover: #3a3a55;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.3em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 50vh;
  transition: 0.2s ease-out;
}

@keyframes writing {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: var(--accent-color);
  }
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Open Sans";
}

header {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1em;
}
header .menu {
  padding: 0.5em;
  display: none;
}
header .menu:hover {
  cursor: pointer;
}
header .menu:hover i {
  color: var(--accent-color);
}
header .menu i {
  font-size: 1.5em;
  transition: 0.2s ease-out;
  color: var(--text-color);
}
header .banner {
  height: 80%;
  width: auto;
  padding: 0.5em;
  cursor: pointer;
}
header .banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-right: 1em;
  list-style: none;
  margin-left: auto;
  font-weight: 600;
}
header ul li a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.2s ease-out;
}
header ul li a.write {
  background: linear-gradient(135deg, #3874b1, #80cedb);
  color: #2b2b2b;
  padding: 0.5em 1em;
  border-radius: 100vh;
}
header ul li a.write:hover {
  color: #2b2b2b;
}
header ul li a.active {
  color: var(--accent-color);
  font-weight: 800;
}
header ul li a:hover {
  color: var(--accent-color);
}
header .themeSwitcher {
  height: 50%;
  aspect-ratio: 2/1;
  margin-left: 1em;
}
header .themeSwitcher input {
  display: none;
}
header .themeSwitcher input:checked + .toggle .circle {
  transform: translateX(0);
  border: 3px solid #80cedb;
}
header .themeSwitcher .toggle {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.2em;
  background-color: var(--bg-color);
  border-radius: 50vh;
  overflow: hidden;
  border: 2px solid rgba(192, 192, 192, 0.5019607843);
}
header .themeSwitcher .toggle label {
  width: 100%;
  height: 100%;
  position: absolute;
}
header .themeSwitcher .toggle label:hover {
  cursor: pointer;
}
header .themeSwitcher .toggle .circle {
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px solid #3874b1;
  background-color: var(--bg-color);
  transform: translateX(calc(150% - 0.2em));
  transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  pointer-events: none;
  position: absolute;
}
header .themeSwitcher .toggle .sun {
  height: 70%;
  aspect-ratio: 1/1;
  margin-left: 0.1em;
}
header .themeSwitcher .toggle .moon {
  height: 70%;
  aspect-ratio: 1/1;
  margin-right: 0.1em;
}

footer {
  display: flex;
  align-items: center;
  height: 3em;
  font-weight: 600;
  font-size: 0.8em;
  padding-inline: 1em;
}

@media (max-width: 700px) {
  header .menu {
    display: initial;
  }
  header ul {
    position: absolute;
    width: 5em;
    height: max-content;
    flex-direction: column;
    justify-content: flex-start;
    padding-block: 2em;
    padding-right: 0;
    gap: 1.5em;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: var(--menu-color);
    border-radius: 0 20px 20px 0;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
  }
  header ul.active {
    transform: translateX(0);
  }
  header ul :not(:first-child) a {
    padding: 0.5em 1em;
  }
}
.container1 {
  width: 100%;
  min-height: calc(100vh - 4em);
  display: flex;
}
.container1 .sidebar {
  min-height: calc(100vh - 4em);
  width: 18em;
  background-color: var(--menu-color);
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
  border-radius: 0 20px 20px 0;
  gap: 1em;
}
.container1 .sidebar .title {
  padding-left: 1.5em;
}
.container1 .sidebar .title h2 {
  font-weight: 800;
}
.container1 .sidebar .sections {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
}
.container1 .sidebar .sections .section {
  flex-grow: 1;
  height: 3em;
  transition: 0.2s ease-out;
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  user-select: none;
  padding: 0;
  justify-content: center;
}
.container1 .sidebar .sections .section i {
  display: none;
}
.container1 .sidebar .sections .section:hover {
  background-color: var(--menu-hover);
  cursor: pointer;
}
.container1 .contents {
  width: calc(100% - 18em);
  height: 100%;
  overflow-y: auto;
}
.container1 .contents .view {
  display: none;
  flex-direction: column;
  gap: 2em;
  padding: 1.5em;
}
.container1 .contents .view.active {
  display: flex;
}
.container1 .contents .view .title {
  font-size: 2em;
}
.container1 .contents .view .title h3 {
  font-weight: 800;
}
.container1 .contents .view .content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.container1 .contents .view .content .text p {
  font-size: 1.1em;
}
.container1 .contents .view .content .text p a {
  text-decoration: none;
  color: var(--accent-color);
  transition: 0.2s ease-out;
}
.container1 .contents .view .content .text p a:hover {
  color: var(--accent-color-hover);
}
.container1 .contents .view .content .text .reverbLogo {
  margin-top: 1.5em;
  width: 10em;
  height: auto;
}
.container1 .contents .view .content .text .reverbLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container1 .contents .view .content .text ul {
  padding: 1em 2em;
}
.container1 .contents .view .content .profile {
  display: flex;
  gap: 1em;
}
.container1 .contents .view .content .profile .pic {
  min-width: 10em;
  aspect-ratio: 1/1;
  position: relative;
}
.container1 .contents .view .content .profile .pic::before {
  content: "Me & My GF!";
  padding: 0.3em 0.7em;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-20%) rotate(-30deg);
  background-color: var(--accent-color);
  color: var(--bg-color);
  border-radius: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
.container1 .contents .view .content .profile .pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.container1 .contents .view .content .profile .info {
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  max-width: 30em;
}
.container1 .contents .view .content .profile .info .socials {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.8em;
}
.container1 .contents .view .content .profile .info .socials a {
  text-decoration: none;
  color: var(--accent-color);
  transition: 0.2s ease-out;
}
.container1 .contents .view .content .profile .info .socials a:hover {
  color: var(--accent-color-hover);
}
.container1 .contents .view .content hr {
  border: none;
  outline: none;
  background-color: var(--accent-color);
  height: 2px;
}
.container1 .contents .view .content .contact {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.container1 .contents .view .content .contact .subtitle {
  font-size: 1.5em;
}
.container1 .contents .view .content .contact .subtitle h4 {
  font-weight: 700;
}
.container1 .contents .view .content .contact .content a {
  text-decoration: none;
  color: var(--accent-color);
  transition: 0.2s ease-out;
}
.container1 .contents .view .content .contact .content a:hover {
  color: var(--accent-color-hover);
}

@media (max-width: 700px) {
  .container1 {
    flex-direction: column;
  }
  .container1 .sidebar {
    width: 100%;
    flex-direction: row;
    height: 4em;
    min-height: initial;
    padding: 0;
    align-items: center;
    border-radius: 0;
  }
  .container1 .sidebar .title {
    display: none;
  }
  .container1 .sidebar .sections {
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .container1 .sidebar .sections .section {
    height: 100%;
  }
  .container1 .sidebar .sections .section i {
    display: initial;
  }
  .container1 .sidebar .sections .section span {
    display: none;
  }
  .container1 .contents {
    width: 100%;
  }
  .container1 .contents .me .content .profile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-auto-rows: max-content;
    place-items: center;
  }
  .container1 .contents .me .content .profile .info {
    text-align: center;
  }
  .container1 .contents .me .content .profile .info .socials {
    justify-content: center;
  }
}

/*# sourceMappingURL=about.css.map */
