@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --bg-color: #e2f5f7;
  --guide-color: #97cdd3;
  --text-color: #2b2b2b;
  --accent-color: #3874b1;
  --accent-color-hover: #104171;
  --sidebar-bg: #c2e3e9;
  --close-bg: #b9e1e5;
  --folders-bg: #edfcff;
  --folders-bg-hover: #b7d6dc;
  --folders-color: #95d2dd;
  --folders-input-bg: #c2e4ec;
  --folders-input-hover: #acd7e1;
  --button-input-bg: #9bd6e0;
  --delete-color: #ff295b;
  --delete-hover: #c9143e;
  --blockquote-bg: #3874b130;
  --divisor-color: #3874b130;
  --button-text: #eaeaea;
  --floating-bg: #c2e3e9;
}

[data-theme=dark] {
  --bg-color: #282838;
  --guide-color: #191929;
  --text-color: #e2f5f7;
  --accent-color: #80cedb;
  --accent-color-hover: #2293a7;
  --sidebar-bg: #191929;
  --close-bg: #4f4f6a;
  --folders-bg: #202032;
  --folders-bg-hover: #28283e;
  --folders-color: #383852;
  --folders-input-bg: #41415b;
  --folders-input-hover: #53537d;
  --button-input-bg: #41415b;
  --delete-color: #fd4872;
  --delete-hover: #e22b55;
  --blockquote-bg: #80cedb30;
  --divisor-color: #80cedb30;
  --button-text: #2b2b2b;
  --floating-bg: #202032;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.3em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 50vh;
  transition: 0.2s ease-out;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}

@keyframes modalContainer {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes modal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes disc {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinnerRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.mainContainer .confirmDelete {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(12, 12, 12, 0.7411764706);
  z-index: 15;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modalContainer 0.5s ease-out forwards;
}
.mainContainer .confirmDelete .modal {
  width: 20em;
  height: 10em;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
  background-color: var(--bg-color);
  padding-top: 1em;
  transform: scale(0);
  animation: modal 0.3s ease-in-out forwards;
  animation-delay: 0.2s;
}
.mainContainer .confirmDelete .modal .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.mainContainer .confirmDelete .modal .content i {
  font-size: 2em;
}
.mainContainer .confirmDelete .modal .content p {
  font-weight: 600;
  max-width: 70%;
  width: max-content;
}
.mainContainer .confirmDelete .modal .buttons {
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.mainContainer .confirmDelete .modal .buttons button {
  padding: 0.5em 2em;
  border-radius: 50vh;
  border: none;
  outline: none;
  color: var(--button-text);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  transition: 0.2s ease-out;
}
.mainContainer .confirmDelete .modal .buttons button.no {
  background-color: var(--accent-color);
}
.mainContainer .confirmDelete .modal .buttons button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.mainContainer .confirmDelete .modal .buttons button:active {
  transform: scale(0.9);
}
.mainContainer .sidebar {
  width: 4em;
  height: 100%;
  background-color: var(--sidebar-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding-block: 1em;
  z-index: 11;
}
.mainContainer .sidebar div {
  padding: 0.5em;
}
.mainContainer .sidebar div:hover {
  cursor: pointer;
}
.mainContainer .sidebar div:hover i {
  color: var(--accent-color-hover);
}
.mainContainer .sidebar i {
  font-size: 1.5em;
  color: var(--accent-color);
  transition: 0.2s ease-out;
}
.mainContainer .sidebar .add {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContainer .sidebar .add.active {
  pointer-events: none;
}
.mainContainer .sidebar .add.active i {
  color: var(--accent-color-hover);
}
.mainContainer .sidebar .add.active .newNote {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}
.mainContainer .sidebar .add .newNote {
  position: absolute;
  left: 4em;
  width: 13em;
  height: 3em;
  padding-inline: 1em;
  border-radius: 50vh;
  background-color: var(--sidebar-bg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8em;
  transition: 0.2s ease-in-out;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.mainContainer .sidebar .add .newNote i {
  font-size: 1.1em;
  color: var(--accent-color);
}
.mainContainer .sidebar .add .newNote .input {
  padding: 0;
  border-radius: 50vh;
  flex-grow: 1;
  position: relative;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50vh;
}
.mainContainer .sidebar .add .newNote .input.error {
  outline: 2px solid var(--delete-color);
}
.mainContainer .sidebar .add .newNote .input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 50vh;
  padding-left: 0.8em;
  padding-right: 2.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  background-color: var(--button-input-bg);
  color: var(--text-color);
}
.mainContainer .sidebar .add .newNote .input .close {
  position: absolute;
  right: 0;
  height: 100%;
  padding-inline: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  transition: 0.2s ease-out;
}
.mainContainer .sidebar .add .newNote .input .close:hover {
  cursor: pointer;
  background-color: var(--sidebar-bg);
}
.mainContainer .sidebar .config {
  margin-top: auto;
}
.mainContainer .folder {
  width: 15em;
  height: 100%;
  background-color: var(--folders-bg);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 4em;
  border-radius: 0 15px 15px 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: var(--accent-color);
}
.mainContainer .folder.active {
  transform: translate(0);
}
.mainContainer .folder.creating .noNotes {
  display: none;
}
.mainContainer .folder .title {
  font-size: 1.5em;
  font-weight: 800;
  width: 100%;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 0.5em;
}
.mainContainer .folder .title::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: var(--accent-color);
  bottom: 0.2em;
}
.mainContainer .folder .list {
  width: 100%;
  height: max-content;
  max-height: calc(100% - 5.5em);
  overflow-y: auto;
}
.mainContainer .folder .list.empty {
  display: none;
}
.mainContainer .folder .list .item {
  width: 100%;
  height: 2.2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 1em;
  gap: 0.5em;
  color: var(--text-color);
  transition: 0.2s ease-out;
  position: relative;
}
.mainContainer .folder .list .item:hover {
  cursor: pointer;
  background-color: var(--folders-bg-hover);
}
.mainContainer .folder .list .item:hover .delete {
  opacity: 1;
  visibility: 1;
}
.mainContainer .folder .list .item i {
  color: var(--accent-color);
}
.mainContainer .folder .list .item span {
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mainContainer .folder .list .item .delete {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  right: 1em;
  opacity: 0;
  visibility: 0;
  transition: inherit;
}
.mainContainer .folder .list .item .delete:hover .fa-trash {
  color: var(--delete-hover);
}
.mainContainer .folder .list .item .delete .fa-trash {
  color: var(--delete-color);
  transition: inherit;
}
.mainContainer .folder .noNotes {
  width: 70%;
  height: calc(100% - 7.5em);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  color: var(--folders-color);
}
.mainContainer .folder .noNotes i {
  font-size: 3em;
}
.mainContainer .folder .noNotes span {
  text-align: center;
  font-weight: 600;
}
.mainContainer .folder .inputTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 2em;
  gap: 1em;
  padding-inline: 1em;
}
.mainContainer .folder .inputTitle .input {
  border-radius: 50vh;
  flex-grow: 1;
  position: relative;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50vh;
}
.mainContainer .folder .inputTitle .input.error {
  outline: 2px solid var(--delete-color);
}
.mainContainer .folder .inputTitle .input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 50vh;
  padding-left: 0.8em;
  padding-right: 2.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  background-color: var(--folders-input-bg);
  color: var(--text-color);
}
.mainContainer .folder .inputTitle .input .close {
  position: absolute;
  right: 0;
  height: 100%;
  padding-inline: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  transition: 0.2s ease-out;
}
.mainContainer .folder .inputTitle .input .close:hover {
  cursor: pointer;
  background-color: var(--folders-input-hover);
}
.mainContainer .folder .newNote {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3em;
  margin-top: auto;
  gap: 0.5em;
  transition: 0.2s ease-out;
}
.mainContainer .folder .newNote:hover {
  cursor: pointer;
  background-color: var(--folders-bg-hover);
}
.mainContainer .folder .newNote[disabled] {
  pointer-events: none;
  color: var(--folders-color);
}
.mainContainer .musicPlayer {
  width: 15em;
  height: 100%;
  background-color: var(--folders-bg);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 4em;
  border-radius: 0 15px 15px 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: var(--accent-color);
}
.mainContainer .musicPlayer.active {
  transform: translateX(0);
}
.mainContainer .musicPlayer .title {
  font-size: 1.5em;
  font-weight: 800;
  width: 100%;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 0.5em;
}
.mainContainer .musicPlayer .title::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: var(--accent-color);
  bottom: 0.2em;
}
.mainContainer .musicPlayer .cover {
  width: 80%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 0.5em;
}
.mainContainer .musicPlayer .cover .fa-compact-disc {
  font-size: 9em;
  animation: disc 3s linear infinite forwards;
  animation-play-state: paused;
}
.mainContainer .musicPlayer .cover .currentTheme {
  display: flex;
  align-items: center;
  gap: 0.5em;
  height: 1.5em;
  width: 100%;
}
.mainContainer .musicPlayer .cover .currentTheme .fa-music {
  font-size: 1.2em;
}
.mainContainer .musicPlayer .cover .currentTheme .themeName {
  flex-grow: 1;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.mainContainer .musicPlayer .controls {
  height: 3em;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  position: relative;
}
.mainContainer .musicPlayer .controls .prev, .mainContainer .musicPlayer .controls .play, .mainContainer .musicPlayer .controls .next {
  padding: 0.5em;
  width: max-content;
  height: max-content;
  border-radius: 10px;
  transition: 0.2s ease-out;
}
.mainContainer .musicPlayer .controls .prev:hover, .mainContainer .musicPlayer .controls .play:hover, .mainContainer .musicPlayer .controls .next:hover {
  background-color: var(--folders-bg-hover);
  cursor: pointer;
}
.mainContainer .musicPlayer .controls .prev i, .mainContainer .musicPlayer .controls .play i, .mainContainer .musicPlayer .controls .next i {
  font-size: 1.8em;
}
.mainContainer .musicPlayer .controls .play {
  padding-inline: 0.8em;
}
.mainContainer .musicPlayer .musicList {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 2em;
}
.mainContainer .musicPlayer .musicList::before {
  position: absolute;
  content: "";
  top: 1em;
  height: 2px;
  width: 80%;
  background-color: var(--accent-color);
}
.mainContainer .musicPlayer .musicList .list {
  width: 100%;
  max-height: 17em;
  padding-block: 0.5em;
  overflow-y: auto;
  position: relative;
}
.mainContainer .musicPlayer .musicList .list .spinnerContainer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-out;
}
.mainContainer .musicPlayer .musicList .list .spinnerContainer.active {
  visibility: visible;
  opacity: 1;
}
.mainContainer .musicPlayer .musicList .list .spinnerContainer .spinnerWrapper {
  position: fixed;
  width: 100%;
  height: 17em;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: var(--folders-bg);
}
.mainContainer .musicPlayer .musicList .list .spinnerContainer .spinnerWrapper .spinner {
  height: 48px;
  width: 48px;
  color: var(--folders-color);
  position: relative;
  display: inline-block;
  border: 5px solid;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spinnerRotate 1s linear infinite;
}
.mainContainer .musicPlayer .musicList .list .noTracks {
  width: 100%;
  height: 16em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  color: var(--folders-color);
}
.mainContainer .musicPlayer .musicList .list .noTracks i {
  font-size: 3em;
}
.mainContainer .musicPlayer .musicList .list .noTracks span {
  text-align: center;
  width: 60%;
  font-weight: 600;
}
.mainContainer .musicPlayer .musicList .list .item {
  width: 100%;
  height: 3em;
  padding-inline: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-out;
}
.mainContainer .musicPlayer .musicList .list .item:hover {
  background-color: var(--folders-bg-hover);
  cursor: pointer;
}
.mainContainer .musicPlayer .musicList .list .item:hover .delete {
  opacity: 1;
  visibility: visible;
}
.mainContainer .musicPlayer .musicList .list .item .trackInfo {
  white-space: nowrap;
  max-width: 85%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.mainContainer .musicPlayer .musicList .list .item .trackInfo .trackNumber {
  font-weight: 900;
}
.mainContainer .musicPlayer .musicList .list .item .delete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  aspect-ratio: 1/1;
  opacity: 0;
  visibility: 0;
  transition: 0.2s ease-out;
}
.mainContainer .musicPlayer .musicList .list .item .delete:hover .fa-trash {
  color: var(--delete-hover);
}
.mainContainer .musicPlayer .musicList .list .item .delete .fa-trash {
  color: var(--delete-color);
  transition: inherit;
}
.mainContainer .musicPlayer .musicList .quantity {
  margin-top: auto;
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContainer .musicPlayer .musicList .uploadTrack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3em;
  gap: 0.5em;
  transition: 0.2s ease-out;
}
.mainContainer .musicPlayer .musicList .uploadTrack:hover {
  cursor: pointer;
  background-color: var(--folders-bg-hover);
}
.mainContainer .musicPlayer .musicList .uploadTrack[disabled] {
  pointer-events: none;
  color: var(--folders-color);
}
.mainContainer .musicPlayer .musicList input {
  display: none;
}
.mainContainer .volumeIndicator {
  position: absolute;
  width: 10em;
  height: 3em;
  bottom: 1em;
  left: 5em;
  z-index: 20;
  background-color: var(--sidebar-bg);
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-inline: 1em;
  gap: 0.8em;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.mainContainer .volumeIndicator.active {
  visibility: visible;
  opacity: 1;
}
.mainContainer .volumeIndicator.menuOpen {
  transform: translateX(15em);
}
.mainContainer .volumeIndicator .indicator {
  flex-grow: 1;
  height: 0.5em;
  border-radius: 50vh;
  overflow: hidden;
  background-color: var(--folders-color);
}
.mainContainer .volumeIndicator .indicator .progress {
  height: 100%;
  width: 10%;
  background-color: var(--accent-color);
}
.mainContainer .floatingPlayer {
  position: absolute;
  bottom: 5em;
  right: 2em;
  width: 22em;
  height: 10em;
  z-index: 20;
  background-color: var(--floating-bg);
  color: var(--accent-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1em;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-out;
  box-shadow: 0 0 20px 0 var(--floating-bg);
}
.mainContainer .floatingPlayer.active {
  opacity: 1;
  visibility: visible;
}
.mainContainer .floatingPlayer .cover {
  width: 40%;
}
.mainContainer .floatingPlayer .cover .fa-compact-disc {
  font-size: 6em;
  animation: disc 3s linear infinite forwards;
  animation-play-state: paused;
}
.mainContainer .floatingPlayer .wrapper {
  width: 60%;
  height: 100%;
  padding-block: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.mainContainer .floatingPlayer .wrapper .themeName {
  width: 100%;
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}
.mainContainer .floatingPlayer .wrapper .themeName span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}
.mainContainer .floatingPlayer .wrapper .controls {
  height: 3em;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  position: relative;
}
.mainContainer .floatingPlayer .wrapper .controls .prev, .mainContainer .floatingPlayer .wrapper .controls .play, .mainContainer .floatingPlayer .wrapper .controls .next {
  padding: 0.5em;
  width: max-content;
  height: max-content;
  border-radius: 10px;
  transition: 0.2s ease-out;
}
.mainContainer .floatingPlayer .wrapper .controls .prev:hover, .mainContainer .floatingPlayer .wrapper .controls .play:hover, .mainContainer .floatingPlayer .wrapper .controls .next:hover {
  background-color: var(--folders-bg-hover);
  cursor: pointer;
}
.mainContainer .floatingPlayer .wrapper .controls .prev i, .mainContainer .floatingPlayer .wrapper .controls .play i, .mainContainer .floatingPlayer .wrapper .controls .next i {
  font-size: 1.8em;
}
.mainContainer .floatingPlayer .wrapper .controls .play {
  padding-inline: 0.8em;
}
.mainContainer .container1 {
  width: calc(100% - 4em);
  height: 100%;
}
.mainContainer .container1 header {
  width: 100%;
  max-width: 100%;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 1em;
  gap: 1em;
  margin-bottom: 0.5em;
}
.mainContainer .container1 header.noTabs {
  padding-left: 0;
}
.mainContainer .container1 header .tabsWrapper {
  max-width: 90%;
  width: max-content;
  overflow-x: scroll;
  height: 100%;
  padding-top: 0.5em;
}
.mainContainer .container1 header .tabsWrapper::-webkit-scrollbar {
  display: none;
}
.mainContainer .container1 header .tabs {
  width: max-content;
  display: flex;
  gap: 1em;
}
.mainContainer .container1 header .tabs .welcomeTab, .mainContainer .container1 header .tabs .tab {
  width: 8em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  position: relative;
}
.mainContainer .container1 header .tabs .welcomeTab::before, .mainContainer .container1 header .tabs .tab::before {
  content: "";
  position: absolute;
  bottom: -0.5em;
  width: 100%;
  height: 2px;
  border-radius: 50vh;
  background-color: var(--accent-color);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-out;
}
.mainContainer .container1 header .tabs .welcomeTab.active::before, .mainContainer .container1 header .tabs .tab.active::before {
  opacity: 1;
  visibility: visible;
}
.mainContainer .container1 header .tabs .welcomeTab.creating .input, .mainContainer .container1 header .tabs .tab.creating .input {
  padding: 0;
  border-radius: 50vh;
  width: 80%;
  position: relative;
  height: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50vh;
}
.mainContainer .container1 header .tabs .welcomeTab.creating .input.error, .mainContainer .container1 header .tabs .tab.creating .input.error {
  outline: 2px solid var(--delete-color);
}
.mainContainer .container1 header .tabs .welcomeTab.creating .input input, .mainContainer .container1 header .tabs .tab.creating .input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 50vh;
  padding-left: 0.8em;
  padding-right: 2.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  background-color: var(--folders-input-bg);
  color: var(--text-color);
}
.mainContainer .container1 header .tabs .welcomeTab.creating .input .close, .mainContainer .container1 header .tabs .tab.creating .input .close {
  position: absolute;
  right: 0;
  height: 100%;
  padding-inline: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  transition: 0.2s ease-out;
}
.mainContainer .container1 header .tabs .welcomeTab.creating .input .close:hover, .mainContainer .container1 header .tabs .tab.creating .input .close:hover {
  cursor: pointer;
  background-color: var(--folders-input-hover);
}
.mainContainer .container1 header .tabs .welcomeTab:hover, .mainContainer .container1 header .tabs .tab:hover {
  cursor: pointer;
}
.mainContainer .container1 header .tabs .welcomeTab:hover .close, .mainContainer .container1 header .tabs .tab:hover .close {
  opacity: 1;
  visibility: visible;
}
.mainContainer .container1 header .tabs .welcomeTab .title, .mainContainer .container1 header .tabs .tab .title {
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mainContainer .container1 header .tabs .welcomeTab .close, .mainContainer .container1 header .tabs .tab .close {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-out;
  border-radius: 1vh;
  padding-block: 0.25em;
}
.mainContainer .container1 header .tabs .welcomeTab .close:hover, .mainContainer .container1 header .tabs .tab .close:hover {
  background-color: var(--close-bg);
}
.mainContainer .container1 header .addTab {
  aspect-ratio: 1/1;
  height: 65%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-out;
}
.mainContainer .container1 header .addTab:hover {
  cursor: pointer;
  background-color: var(--close-bg);
}
.mainContainer .container1 header .themeSwitcher {
  height: 60%;
  aspect-ratio: 2/1;
  margin-left: auto;
}
.mainContainer .container1 header .themeSwitcher input {
  display: none;
}
.mainContainer .container1 header .themeSwitcher input:checked + .toggle .circle {
  transform: translateX(0);
  border: 3px solid #80cedb;
}
.mainContainer .container1 header .themeSwitcher .toggle {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.2em;
  background-color: var(--bg-color);
  border-radius: 50vh;
  overflow: hidden;
  border: 2px solid rgba(192, 192, 192, 0.5019607843);
}
.mainContainer .container1 header .themeSwitcher .toggle label {
  width: 100%;
  height: 100%;
  position: absolute;
}
.mainContainer .container1 header .themeSwitcher .toggle label:hover {
  cursor: pointer;
}
.mainContainer .container1 header .themeSwitcher .toggle .circle {
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px solid #3874b1;
  background-color: var(--bg-color);
  transform: translateX(calc(150% - 0.2em));
  transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  pointer-events: none;
  position: absolute;
}
.mainContainer .container1 header .themeSwitcher .toggle .sun {
  height: 70%;
  aspect-ratio: 1/1;
  margin-left: 0.1em;
  display: flex;
  align-items: center;
}
.mainContainer .container1 header .themeSwitcher .toggle .moon {
  height: 70%;
  aspect-ratio: 1/1;
  margin-right: 0.1em;
  display: flex;
  align-items: center;
}
.mainContainer .container1 .document {
  width: 100%;
  height: calc(100% - 3em);
  display: flex;
  position: relative;
}
.mainContainer .container1 .document::before {
  content: "";
  position: absolute;
  height: 95%;
  width: 2px;
  left: 50%;
  background-color: var(--divisor-color);
  opacity: 0;
  visibility: hidden;
}
.mainContainer .container1 .document .toggleView {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 3em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: var(--accent-color);
  color: var(--bg-color);
  transition: 0.2s ease-out;
}
.mainContainer .container1 .document .toggleView.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mainContainer .container1 .document .toggleView:hover {
  cursor: pointer;
  background-color: var(--accent-color-hover);
}
.mainContainer .container1 .document.active::before {
  opacity: 1;
  visibility: visible;
}
.mainContainer .container1 .document.active .edit {
  display: initial;
}
.mainContainer .container1 .document .edit {
  min-width: 50%;
  max-width: 50%;
  height: 100%;
  padding: 1em;
  display: none;
}
.mainContainer .container1 .document .edit textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text-color);
  font-size: 1.1em;
  resize: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  overflow-y: auto;
}
.mainContainer .container1 .document .preview {
  flex-grow: 1;
  height: 100%;
  padding: 1em;
  overflow-y: auto;
}
.mainContainer .container1 .document .preview > * {
  word-break: break-all;
}
.mainContainer .container1 .document .preview br {
  height: 0;
}
.mainContainer .container1 .document .preview blockquote {
  padding: 1em;
  border-left: 0.5em solid var(--accent-color);
  background-color: var(--blockquote-bg);
}
.mainContainer .container1 .document .preview ol, .mainContainer .container1 .document .preview ul {
  padding-left: 2em;
}
.mainContainer .container1 .document .preview img {
  max-width: 100%;
  height: auto;
  padding: 1em;
}
.mainContainer .container1 .document .preview a {
  color: var(--accent-color);
}
.mainContainer .container1 .document .preview code {
  font-size: 1.1em;
  padding: 0.2em;
  border-radius: 5px;
  background-color: var(--blockquote-bg);
}
.mainContainer .container1 .document .preview hr {
  border: none;
  border-top: 2px solid var(--accent-color);
}
.mainContainer .container1 .document .guide {
  position: absolute;
  width: 30%;
  align-self: center;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--guide-color);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.mainContainer .container1 .document .guide.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.mainContainer .container1 .document .guide svg path {
  stroke: var(--guide-color);
}
.mainContainer .container1 .document .guide .info {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  font-weight: 700;
  font-size: 2em;
}
.mainContainer .container1 .document .guide .info .addNote {
  padding: 0.3em;
}
.mainContainer .container1 .document .guide .info .addNote:hover {
  cursor: pointer;
}

/*# sourceMappingURL=write.css.map */
