@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bg-color: #e2f5f7;
    --guide-color: #97cdd3;
    --text-color: #2b2b2b;
    --accent-color: #3874b1;
    --accent-color-hover: #104171;
    --sidebar-bg: #c2e3e9;
    --close-bg: #b9e1e5;
    --folders-bg: #edfcff;
    --folders-bg-hover: #b7d6dc;
    --folders-color: #95d2dd;
    --folders-input-bg: #c2e4ec;
    --folders-input-hover: #acd7e1;
    --button-input-bg: #9bd6e0;
    --delete-color: #ff295b;
    --delete-hover: #c9143e;
    --blockquote-bg: #3874b130;
    --divisor-color: #3874b130;
    --button-bg: #282838;
    --button-text: #eaeaea;
    --floating-bg: #c2e3e9;
    --config-bg: #c2e3e9;
    --config-side: #edfcff;
    --config-hover: #b7d6dc;
    --config-subtitle: #2b2b2b80;
    --config-toggle: #90c5ce;
    --checked-config: #2d9c5f;
}

[data-theme="dark"] {
    --bg-color: #282838;
    --guide-color: #191929;
    --text-color: #e2f5f7;
    --accent-color: #80cedb;
    --accent-color-hover: #2293a7;
    --sidebar-bg: #191929;
    --close-bg: #4f4f6a;
    --folders-bg: #202032;
    --folders-bg-hover: #28283e;
    --folders-color: #383852;
    --folders-input-bg: #41415b;
    --folders-input-hover: #53537d;
    --button-input-bg: #41415b;
    --delete-color: #fd4872;
    --delete-hover: #e22b55;
    --blockquote-bg: #80cedb30;
    --divisor-color: #80cedb30;
    --button-bg: #eaeaea;
    --button-text: #2b2b2b;
    --floating-bg: #202032;
    --config-bg: #191929;
    --config-side: #202032;
    --config-hover: #28283e;
    --config-subtitle: #e2f5f780;
    --config-toggle: #28283e;
    --checked-config: #2d9c5f;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.3em;

    &-thumb {
        background-color: var(--accent-color);
        border-radius: 50vh;
        transition: 0.2s ease-out;
    }
}

@keyframes modalContainer {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes modal {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes disc {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spinnerRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    } 
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
}