@import 'header2';

@keyframes modalContainer {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes modal {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes disc {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spinnerRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    } 
}

.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    position: relative;

    .confirmDelete {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #0c0c0cbd;
        z-index: 15;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: modalContainer 0.5s ease-out forwards;

        .modal {
            width: 20em;
            height: 10em;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1.5em;
            background-color: var(--bg-color);
            padding-top: 1em;
            transform: scale(0);
            animation: modal 0.3s ease-in-out forwards;
            animation-delay: 0.2s;

            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;

                i {
                    font-size: 2em;
                }

                p {
                    font-weight: 600;
                    max-width: 70%;
                    width: max-content;
                }
            }

            .buttons {
                width: 100%;
                height: 3em;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2em;

                button {
                    padding: 0.5em 2em;
                    border-radius: 50vh;
                    border: none;
                    outline: none;
                    color: var(--button-text);
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 600;
                    transition: 0.2s ease-out;

                    &.no {
                        background-color: var(--accent-color);
                    }

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                    }

                    &:active {
                        transform: scale(0.9);
                    }
                }
            }
        }
    }

    .sidebar {
        width: 4em;
        height: 100%;
        background-color: var(--sidebar-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        padding-block: 1em;
        z-index: 11;

        div {
            padding: 0.5em;
            
            &:hover {
                cursor: pointer;

                i {
                    color: var(--accent-color-hover);
                }
            }
        }

        i {
            font-size: 1.5em;
            color: var(--accent-color);
            transition: 0.2s ease-out;
        }

        .add {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
                pointer-events: none;
                
                i {
                    color: var(--accent-color-hover);
                }

                .newNote {
                    pointer-events: initial;
                    visibility: visible;
                    opacity: 1;
                }
            }

            .newNote {
                position: absolute;
                left: 4em;
                width: 13em;
                height: 3em;
                padding-inline: 1em;
                border-radius: 50vh;
                background-color: var(--sidebar-bg);
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 0.8em;
                transition: 0.2s ease-in-out;
                pointer-events: none;
                visibility: hidden;
                opacity: 0;
                z-index: -1;

                i {
                    font-size: 1.1em;
                    color: var(--accent-color);
                }

                .input {
                    padding: 0;
                    border-radius: 50vh;
                    flex-grow: 1;
                    position: relative;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: 50vh;
    
                    &.error {
                        outline: 2px solid var(--delete-color);
                    }
    
                    input {
                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                        border-radius: 50vh;
                        padding-left: 0.8em;
                        padding-right: 2.5em;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 400;
                        font-size: 0.8em;
                        background-color: var(--button-input-bg);
                        color: var(--text-color);
                    }
    
                    .close {
                        position: absolute;
                        right: 0;
                        height: 100%;
                        padding-inline: 0.8em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        aspect-ratio: 1 / 1;
                        transition: 0.2s ease-out;
        
                        &:hover {
                            cursor: pointer;
                            background-color: var(--sidebar-bg);
                        }
                    }
                }
            }
        }

        .config {
            margin-top: auto;
        }
    }

    .folder {
        width: 15em;
        height: 100%;
        background-color: var(--folders-bg);
        position: absolute;
        z-index: 10;
        top: 0;
        left: 4em;
        border-radius: 0 15px 15px 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        color: var(--accent-color);

        &.active {
            transform: translate(0);
        }

        &.creating {
            .noNotes {
                display: none;
            }
        }

        .title {
            font-size: 1.5em;
            font-weight: 800;
            width: 100%;
            height: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-bottom: 0.5em;

            &::before {
                content: '';
                position: absolute;
                width: 20%;
                height: 2px;
                background-color: var(--accent-color);
                bottom: 0.2em;
            }
        }

        .list {
            width: 100%;
            height: max-content;
            max-height: calc(100% - (2.5em + 3em));
            overflow-y: auto;

            &.empty {
                display: none;
            }

            .item {
                width: 100%;
                height: 2.2em;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-inline: 1em;
                gap: 0.5em;
                color: var(--text-color);
                transition: 0.2s ease-out;
                position: relative;

                &:hover {
                    cursor: pointer;
                    background-color: var(--folders-bg-hover);

                    .delete {
                        opacity: 1;
                        visibility: 1;
                    }
                }

                i {
                    color: var(--accent-color);
                }

                span {
                    width: 75%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .delete {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    height: 80%;
                    aspect-ratio: 1 / 1;
                    border-radius: 5px;
                    right: 1em;
                    opacity: 0;
                    visibility: 0;
                    transition: inherit;
                    
                    &:hover {
                        .fa-trash {
                            color: var(--delete-hover);
                        }
                    }

                    .fa-trash {
                        color: var(--delete-color);
                        transition: inherit;
                    }
                }
            }
        }

        .noNotes {
            width: 70%;
            height: calc(100% - (2.5em + 5em));
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.5em;
            color: var(--folders-color);

            i {
                font-size: 3em;
            }

            span {
                text-align: center;
                font-weight: 600;
            }
        }

        .inputTitle {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 2em;
            gap: 1em;
            padding-inline: 1em;

            .input {
                border-radius: 50vh;
                flex-grow: 1;
                position: relative;
                height: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 50vh;

                &.error {
                    outline: 2px solid var(--delete-color);
                }

                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    border-radius: 50vh;
                    padding-left: 0.8em;
                    padding-right: 2.5em;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    font-size: 0.8em;
                    background-color: var(--folders-input-bg);
                    color: var(--text-color);
                }

                .close {
                    position: absolute;
                    right: 0;
                    height: 100%;
                    padding-inline: 0.8em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    aspect-ratio: 1 / 1;
                    transition: 0.2s ease-out;
    
                    &:hover {
                        cursor: pointer;
                        background-color: var(--folders-input-hover);
                    }
                }
            }
        }

        .newNote {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 3em;
            margin-top: auto;
            gap: 0.5em;
            transition: 0.2s ease-out;

            &:hover {
                cursor: pointer;
                background-color: var(--folders-bg-hover);
            }

            &[disabled] {
                pointer-events: none;
                color: var(--folders-color);
            }
        }
    }

    .musicPlayer {
        width: 15em;
        height: 100%;
        background-color: var(--folders-bg);
        position: absolute;
        z-index: 10;
        top: 0;
        left: 4em;
        border-radius: 0 15px 15px 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        color: var(--accent-color);

        &.active {
            transform: translateX(0);
        }

        .title {
            font-size: 1.5em;
            font-weight: 800;
            width: 100%;
            height: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-bottom: 0.5em;

            &::before {
                content: '';
                position: absolute;
                width: 20%;
                height: 2px;
                background-color: var(--accent-color);
                bottom: 0.2em;
            }
        }

        .cover {
            width: 80%;
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1em;
            margin-bottom: 0.5em;

            .fa-compact-disc {
                font-size: 9em;
                animation: disc 3s linear infinite forwards;
                animation-play-state: paused;
            }

            .currentTheme {
                display: flex;
                align-items: center;
                gap: 0.5em;
                height: 1.5em;
                width: 100%;

                .fa-music {
                    font-size: 1.2em;
                }

                .themeName {
                    flex-grow: 1;
                    white-space: nowrap;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .controls {
            height: 3em;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.8em;
            position: relative;

            .prev, .play, .next {
                padding: 0.5em;
                width: max-content;
                height: max-content;
                border-radius: 10px;
                transition: 0.2s ease-out;

                &:hover {
                    background-color: var(--folders-bg-hover);
                    cursor: pointer;
                }

                i {
                    font-size: 1.8em;
                }
            }

            .play {
                padding-inline: 0.8em;
            }
        }

        .musicList {
            width: 100%;
            flex-grow: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            padding-top: 2em;

            &::before {
                position: absolute;
                content: '';
                top: 1em;
                height: 2px;
                width: 80%;
                background-color: var(--accent-color);
            }

            .list {
                width: 100%;
                max-height: 17em;
                padding-block: 0.5em;
                overflow-y: auto;
                position: relative;

                .spinnerContainer {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 10;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.2s ease-out;

                    &.active {
                        visibility: visible;
                        opacity: 1;
                    }

                    .spinnerWrapper {
                        position: fixed;
                        width: 100%;
                        height: 17em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        pointer-events: none;
                        background-color: var(--folders-bg);
        
                        .spinner {
                            height: 48px;
                            width: 48px;
                            color: var(--folders-color);
                            position: relative;
                            display: inline-block;
                            border: 5px solid;
                            border-radius: 50%;
                            border-top-color: transparent;
                            animation: spinnerRotate 1s linear infinite;
                        }
                    }
                }
                
                .noTracks {
                    width: 100%;
                    height: 16em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 1em;
                    color: var(--folders-color);

                    i {
                        font-size: 3em;
                    }
                    
                    span {
                        text-align: center;
                        width: 60%;
                        font-weight: 600;
                    }
                }

                .item {
                    width: 100%;
                    height: 3em;
                    padding-inline: 1em;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: 0.2s ease-out;

                    &:hover {
                        background-color: var(--folders-bg-hover);
                        cursor: pointer;

                        .delete {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    .trackInfo {
                        white-space: nowrap;
                        max-width: 85%;
                        overflow-x: hidden;
                        text-overflow: ellipsis;

                        .trackNumber {
                            font-weight: 900;
                        }
                    }

                    .delete {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 80%;
                        aspect-ratio: 1 / 1;
                        opacity: 0;
                        visibility: 0;
                        transition: 0.2s ease-out;
                        
                        &:hover {
                            .fa-trash {
                                color: var(--delete-hover);
                            }
                        }
    
                        .fa-trash {
                            color: var(--delete-color);
                            transition: inherit;
                        }
                    }
                }
            }

            .quantity {
                margin-top: auto;
                height: 3em;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .uploadTrack {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 3em;
                gap: 0.5em;
                transition: 0.2s ease-out;

                &:hover {
                    cursor: pointer;
                    background-color: var(--folders-bg-hover);
                }

                &[disabled] {
                    pointer-events: none;
                    color: var(--folders-color);
                }
            }

            input {
                display: none;
            }
        }
    }

    .volumeIndicator {
        position: absolute;
        width: 10em;
        height: 3em;
        bottom: 1em;
        left: 5em;
        z-index: 20;
        background-color: var(--sidebar-bg);
        border-radius: 15px;
        display: flex;
        align-items: center;
        padding-inline: 1em;
        gap: 0.8em;
        transition: 0.3s ease-in-out;
        visibility: hidden;
        opacity: 0;

        &.active {
            visibility: visible;
            opacity: 1;
        }

        &.menuOpen {
            transform: translateX(15em);
        }

        .indicator {
            flex-grow: 1;
            height: 0.5em;
            border-radius: 50vh;
            overflow: hidden;
            background-color: var(--folders-color);

            .progress {
                height: 100%;
                width: 10%;
                background-color: var(--accent-color);
            }
        }
    }

    .floatingPlayer {
        position: absolute;
        bottom: 5em;
        right: 2em;
        width: 22em;
        height: 10em;
        z-index: 20;
        background-color: var(--floating-bg);
        color: var(--accent-color);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 1em;
        user-select: none;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s ease-out;
        box-shadow: 0 0 20px 0 var(--floating-bg);

        &.active {
            opacity: 1;
            visibility: visible;
        }

        .cover {
            width: 40%;

            .fa-compact-disc {
                font-size: 6em;
                animation: disc 3s linear infinite forwards;
                animation-play-state: paused;
            }
        }

        .wrapper {
            width: 60%;
            height: 100%;
            padding-block: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5em;

            .themeName {
                width: 100%;
                display: flex;
                gap: 0.5em;
                align-items: center;
                justify-content: center;
                font-size: 1.1em;

                span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 80%;
                }
            }

            .controls {
                height: 3em;
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.8em;
                position: relative;
                
                .prev, .play, .next {
                    padding: 0.5em;
                    width: max-content;
                    height: max-content;
                    border-radius: 10px;
                    transition: 0.2s ease-out;

                    &:hover {
                        background-color: var(--folders-bg-hover);
                        cursor: pointer;
                    }

                    i {
                        font-size: 1.8em;
                    }
                }

                .play {
                    padding-inline: 0.8em;
                }
            }
        }
    }

    .container1 {
        width: calc(100% - 4em);
        height: 100%;

        header {
            width: 100%;
            max-width: 100%;
            height: 2.5em;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-inline: 1em;
            gap: 1em;
            margin-bottom: 0.5em;

            &.noTabs {
                padding-left: 0;
            }

            .tabsWrapper {
                max-width: 90%;
                width: max-content;
                overflow-x: scroll;
                height: 100%;
                padding-top: 0.5em;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
    
            .tabs {
                width: max-content;
                display: flex;
                gap: 1em;
    
                .welcomeTab, .tab {
                    width: 8em;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.5em;
                    position: relative;
    
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -0.5em;
                        width: 100%;
                        height: 2px;
                        border-radius: 50vh;
                        background-color: var(--accent-color);
                        pointer-events: none;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.2s ease-out;
                    }
    
                    &.active {
                        &::before {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    &.creating {
                        .input {
                            padding: 0;
                            border-radius: 50vh;
                            width: 80%;
                            position: relative;
                            height: 1.3em;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            border-radius: 50vh;
            
                            &.error {
                                outline: 2px solid var(--delete-color);
                            }
            
                            input {
                                width: 100%;
                                height: 100%;
                                border: none;
                                outline: none;
                                border-radius: 50vh;
                                padding-left: 0.8em;
                                padding-right: 2.5em;
                                font-family: 'Open Sans', sans-serif;
                                font-weight: 400;
                                font-size: 0.8em;
                                background-color: var(--folders-input-bg);
                                color: var(--text-color);
                            }
            
                            .close {
                                position: absolute;
                                right: 0;
                                height: 100%;
                                padding-inline: 0.8em;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                aspect-ratio: 1 / 1;
                                transition: 0.2s ease-out;
                
                                &:hover {
                                    cursor: pointer;
                                    background-color: var(--folders-input-hover);
                                }
                            }
                        }
                    }
    
                    &:hover {
                        cursor: pointer;
    
                        .close {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
    
                    .title {
                        width: 60%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
    
                    .close {
                        width: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: auto;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.2s ease-out;
                        border-radius: 1vh;
                        padding-block: 0.25em;
    
                        &:hover {
                            background-color: var(--close-bg);
                        }
                    }
                }
            }

            .addTab {
                aspect-ratio: 1 / 1;
                height: 65%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.2s ease-out;

                &:hover {
                    cursor: pointer;
                    background-color: var(--close-bg);
                }
            }
        
            .themeSwitcher {
                height: 60%;
                aspect-ratio: 2 / 1;
                margin-left: auto;
        
                input {
                    display: none;
        
                    &:checked + .toggle {
                        .circle {
                            transform: translateX(0);
                            border: 3px solid #80cedb;
                        }
                    }
                }
                
                .toggle {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-inline: 0.2em;
                    background-color: var(--bg-color);
                    border-radius: 50vh;
                    overflow: hidden;
                    border: 2px solid #c0c0c080;
        
                    label {
                        width: 100%;
                        height: 100%;
                        position: absolute;
        
                        &:hover {
                            cursor: pointer;
                        }
                    }
        
                    .circle {
                        height: 80%;
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        border: 3px solid #3874b1;
                        background-color: var(--bg-color);
                        transform: translateX(calc(150% - 0.2em));
                        transition: 0.3s cubic-bezier(.47,1.64,.41,.8);
                        pointer-events: none;
                        position: absolute;
                    }
        
                    .sun {
                        height: 70%;
                        aspect-ratio: 1 / 1;
                        margin-left: 0.1em;
                        display: flex;
                        align-items: center;
                    }
        
                    .moon {
                        height: 70%;
                        aspect-ratio: 1 / 1;
                        margin-right: 0.1em;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        .document {
            width: 100%;
            height: calc(100% - 3em);
            display: flex;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                height: 95%;
                width: 2px;
                left: 50%;
                background-color: var(--divisor-color);
                opacity: 0;
                visibility: hidden;
            }

            .toggleView {
                position: absolute;
                bottom: 1em;
                right: 1em;
                width: 3em;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                border: none;
                outline: none;
                background-color: var(--accent-color);
                color: var(--bg-color);
                transition: 0.2s ease-out;

                &.hidden {
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                }

                &:hover {
                    cursor: pointer;
                    background-color: var(--accent-color-hover);
                }
            }

            &.active {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }

                .edit {
                    display: initial;
                }
            }

            .edit {
                min-width: 50%;
                max-width: 50%;
                height: 100%;
                padding: 1em;
                display: none;

                textarea {
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    color: var(--text-color);
                    font-size: 1.1em;
                    resize: none;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    overflow-y: auto;
                }
            }

            .preview {
                flex-grow: 1;
                height: 100%;
                padding: 1em;
                overflow-y: auto;

                > * {
                    word-break: break-all;
                }

                br {
                    height: 0;
                }

                blockquote {
                    padding: 1em;
                    border-left: 0.5em solid var(--accent-color);
                    background-color: var(--blockquote-bg);
                }

                ol, ul {
                    padding-left: 2em;
                }

                img {
                    max-width: 100%;
                    height: auto;
                    padding: 1em;
                }

                a {
                    color: var(--accent-color);
                }

                code {
                    font-size: 1.1em;
                    padding: 0.2em;
                    border-radius: 5px;
                    background-color: var(--blockquote-bg);
                }

                hr {
                    border: none;
                    border-top: 2px solid var(--accent-color);
                }
            }

            .guide {
                position: absolute;
                width: 30%;
                align-self: center;
                right: 0;
                left: 0;
                margin: auto;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                color: var(--guide-color);
                visibility: hidden;
                opacity: 0;
                pointer-events: none;

                &.active {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }

                svg {
                    path {
                        stroke: var(--guide-color);
                    }
                }

                .info {
                    width: max-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.2em;
                    font-weight: 700;
                    font-size: 2em;

                    .addNote {
                        padding: 0.3em;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}